<div id="modal-backdrop" class="hidden"></div>

<div id="create-bird-modal" class="hidden modal">

    <div class="modal-close">
        <button type="button" onclick="closeModal()" id="close-modal-button">&times;</button>
    </div>

    <div class="modal-header">
        <h3>Create New Bird</h3>
    </div>

    <form id="add_bird" action="/CreateBird" method="post">

        <div class="modal-body">

            <div class="modal-input-element">
                <label for="race">Race</label>
                <input type="text" name="race"></input>
            </div>

            <div class="modal-input-element">
                <label for="subject_id">Subject ID</label>
                <input type="number" name="subject_id">
            </div>

            <div class="modal-input-element">
                <label for="production_date">Production Date</label>
                <input type="date" name="production_date">
            </div>

        </div>

        <div class="modal-footer">
            <input type="submit" id="modal-accept" class="action-button" value="Submit">
        </div>

    </form>

</div>
