<div class="table-container">
    <h2>Bird ID: 1</h2>
    <ul>
        <li><span class="bold">Production Date:</span> 2020-01-01</li>
        <li><span class="bold">Race:</span> Eagle</li>
        <li><span class="bold">Subject:</span> Stanley Harrison</li>
    </ul>

</div>