<aside class = "create-bar">

    <h2>Create</h2>
    <button type="button" onclick="showBirdModal()" id="create-bird-button">Bird</button>
    <button type="button" onclick="showSubjectModal()" id="create-subject-button">Subject</button>
    <button type="button" onclick="showHandlerModal()" id="create-handler-button">Handler</button>
    <button type="button" onclick="showStationModal()" id="create-station-button">Station</button>

</aside>