<aside class = "create-bar">

    <h2>Create</h2>
    <button type="button" id="create-bird-button">Bird</button>
    <button type="button" id="create-subject-button">Subject</button>
    <button type="button" id="create-handler-button">Handler</button>
    <button type="button" id="create-station-button">Station</button>

</aside>