<div id="modal-backdrop" class="hidden"></div>

<div id="create-handler-modal" class="hidden modal">

    <div class="modal-close">
        <button type="button" onclick="closeModal()" id="close-modal-button">&times;</button>
    </div>
    
    <div class="modal-header">
        <h3>Create New Handler</h3>
    </div>

   <form id="add_handler" action="/CreateHandler" method="post">

        <div class="modal-body">

            <div class="modal-input-element">
                <label for="codename">Codename</label>
                <input type="text" name="codename"></input>
            </div>

            <div class="modal-input-element">
                <label for="username">Username</label>
                <input type="text" name="username"></input>
            </div>

            <div class="modal-input-element">
                <label for="password">Password</label>
                <input type="password" name="password"></input>
            </div>

            <div class="modal-input-element">
                <label for="station">Station</label>
                <select name="station"> 
                    {{#each data.stations}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>


            <div class="modal-input-element">
                <label for="nbr">House Number</label>
                <input type="number" name="nbr">
            </div>

            <div class="modal-input-element">
                <label for="street">Street</label>
                <input type="text" name="street">
            </div>

            <div class="modal-input-element">
                <label for="city">City</label>
                <input type="text" name="city">
            </div>

        </div>

        <div class="modal-footer">
            <input type="submit" id="modal-accept" class="action-button" value="Submit">
        </div>

    </form>

</div>