<div class="table-container">
    <h2>Birds</h2>
    <table class="home-table">
        <tr>
            <th>ID</th>
            <th>Production Date</th>
            <th>Race</th>
            <th>Subject</th>
        </tr>
        <tr>
            <td><a href="/view/bird/1">1</a></td>
            <td>2020-01-01</td>
            <td>Eagle</td>
            <td>Stanley Harrison</td>
        </tr>
    </table>

    <br>

    <h2>Subjects</h2>
    <table class="home-table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        <tr>No subject found</tr>
    </table>
</div>