<div id="modal-backdrop" class="hidden"></div>

<div id="create-station-modal" class="hidden modal">

    <div class="modal-close">
        <button type="button" onclick="closeModal()" id="close-modal-button">&times;</button>
    </div>
    
    <div class="modal-header">
        <h3>Create New Station</h3>
    </div>

    <form id="add_station" action="/CreateStation" method="post">

        <div class="modal-body">

            <div class="modal-input-element">
                <label for="name">Station Name</label>
                <input type="text" name="name"></input>
            </div>

            <div class="modal-input-element">
                <label for="latitude">Latitude</label>
                <input type="number" name="latitude" min="-90" max="90" step="0.000001">
            </div>

            <div class="modal-input-element">
                <label for="longitude">Longitude</label>
                <input type="number" name="longitude" min="-180" max="180" step="0.000001">
            </div>

        </div>

        <div class="modal-footer">
            <input type="submit" id="modal-accept" class="action-button" value="Submit">
        </div>

    </form>

</div>