<div id="modal-backdrop" class="hidden"></div>

<div id="create-subject-modal" class="hidden modal">

    <div class="modal-close">
        <button type="button" onclick="closeModal()" id="close-modal-button">&times;</button>
    </div>
    
    <div class="modal-header">
        <h3>Create New Subject</h3>
    </div>

    <form id="add_subject" action="/CreateSubject" method="post">

        <div class="modal-body">

            <div class="modal-input-element">
                <label for="name">Name</label>
                <input type="text" name="name"></input>
            </div>

            <div class="modal-input-element">
                <label for="nbr">House Number</label>
                <input type="number" name="nbr">
            </div>

            <div class="modal-input-element">
                <label for="street">Street</label>
                <input type="text" name="street">
            </div>

            <div class="modal-input-element">
                <label for="city">City</label>
                <input type="text" name="city">
            </div>

        </div>

        <div class="modal-footer">
            <input type="submit" id="modal-accept" class="action-button" value="Submit">
        </div>

    </form>

</div>