<div class="view-bar">
    <form class="view-bar-element" action="/view/bird">
        <input type="submit" value="Birds">
    </form>
    <form class="view-bar-element" action="/view/subject">
        <input type="submit" value="Subjects">
    </form>
    <form class="view-bar-element" action="/view/handler">
        <input type="submit" value="Handlers">
    </form>
    <form class="view-bar-element" action="/view/station">
        <input type="submit" value="Stations">
    </form>
</div>