<main>

    {{>header}}

    {{>createBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-page-content">
        <p>Rest of the page. Here we will display a variety of Birds, Subjects and Stations.</p>
    </div>

</main>