<main>

    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class = "home-flex-content">

        {{>createBar}}

        <div class = "table-container">
            <h2>{Name's} Subjects</h2>
            <table class = "home-table">
                <tr>
                    <th>Bird</th>
                    <th>Subject</th>
                </tr>
                {{#each data.birds}}
                <tr>
                    <td><a href="/view/bird/{{this.id}}">{{this.id}}</a></td>
                    <td><a href="/view/subject/{{this.name}}">{{this.name}}</a></td>
                </tr>
                {{/each}}

            </table> 
        </div>

    </div>

</main>