<main>

    {{>header}}

    {{>viewBar}}

<div class = "home-flex-content">
    {{>createBar}}
    {{>homeTable}}
</div>
    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    


</main>