<main>
    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class="home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>Stations</h2>
            <table class="home-table">
                <tr>
                    <th>Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                {{#each stations}}
                <tr>
                    <td>{{this.station_name}}</td>
                    <td>{{this.latitude}}°</td>
                    <td>{{this.longitude}}°</td>
                </tr>
                {{/each}}
            </table>
        </div>

    </div>

</main>