<main>
    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class = "home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>Birds</h2>
            <table class="home-table">
                <tr>
                    <th>ID</th>
                    <th>Production Date</th>
                    <th>Race</th>
                    <th>Subject</th>
                </tr>
                <tr>
                    <td><a href="/view/bird/1">1</a></td>
                    <td>2020-01-01</td>
                    <td>Eagle</td>
                    <td>Stanley Harrison</td>
                </tr>
                <tr>
                    <td><a href="/view/bird/2">2</a></td>
                    <td>2020-03-01</td>
                    <td>Canary</td>
                    <td>Logan Remilton</td>
                </tr>
            </table>
        </div>

    </div>

</main>