<main>
    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class = "home-flex-content">

        {{>createBar}}

        <div class="table-container">
            <h2>Subjects</h2>
            <table class="home-table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
                <tr>
                    <td><a href="/view/subject/1">001</a></td>
                    <td>Stanley Harrison</td>
                    <td>1234 Hollywood Blvd, Los Angeles</td>
                </tr>
                <tr>
                    <td><a href="/view/subject/2">002</a></td>
                    <td>Logan Remilton</td>
                    <td>1500 Wall St, Manhattan</td>
                </tr>
            </table>
        </div>

    </div>

</main>