<main>
    
    {{>header}}

    {{>viewBar}}

    {{>birdModal}}
    {{>subjectModal}}
    {{>handlerModal}}
    {{>stationModal}}

    <div class = "home-flex-content">

    {{>createBar}}

        <div class="table-container">
            <h2>Stanley Harrison</h2>
            <ul>
                <li><span class="bold">ID:</span> 001</li>
                <li><span class="bold">Address:</span> 1234 Hollywood Blvd, Los Angeles</li>
            </ul>

        </div>

    </div>

</main>